

#reserveModal {
    .modal-header {
        background-color: $color-teal;
        color: $color-pale;
    }
}

#loginModal {
    .modal-header {
        background-color: $color-teal;
        color: $color-pale;
    }
}